<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_base.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_search_results.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/learn-support.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/globalnav.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightroom.css" | prepend: site.baseurl }}">




<article class="learn-support-page">
    
<!--
        <section class="learn-section">

            <div class="content-wrapper" style="min-height:0;margin-bottom:-70px;">
    <form style="" class="serp-search" action="" method="get">
        <input style="" class="serp-search-input" name="q" placeholder="Search Experience Manager" autocomplete="off" type="text">
        <input style="" class="serp-search-btn" value="" type="submit">
        <input style="" id="serp-search-product" name="product" value="" type="hidden">
    </form>
                </div>
</section>
-->
    

    <section class="learn-section">
        <div class="learn">
            <img src="{{ "/img/marketing_cloud_experience_manager_icon_no_tile_rgb.png" | prepend: site.baseurl }}" style="height:60px;">
            <h1 class="features-title">Learn Experience Manager</h1>
            <div class="text parbase learn-description">
                <p>Get started or go deeper with our documentation and our library of tutorials, projects and articles.</p><br/>
            </div>
            
                <form style="" class="serp-search" action="{{ "search.html" | prepend: site.baseurl }}" method="get">
                    <input style="" class="serp-search-input" name="q" placeholder="Search Experience Manager" autocomplete="off" type="text">
                    <input style="" class="serp-search-btn" value="" type="submit">
                    <input style="" id="serp-search-product" name="product" value="" type="hidden">
                </form>
            
<!--
            <div style="margin-top: 60px;" id="LearnSupportCards">
                <a class="categoryCard" href="/lightroom/how-to/manage-all-your-photos.html">
                    <img class="cardImage" src="{{ "/img/lightroom-managedigitalimage_297x176.jpg" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">GET STARTED</h2>
                        <h2 class="cardTitle">How to manage your digital photos</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="{{ "/img/mp_do_32_n_lt.svg" | prepend: site.baseurl }}"><span>Try it</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>32 min</span>
                        </div>
                    </div>
                </a>
                <a class="categoryCard" href="/lightroom/how-to/lightroom-healing-brush-visualization.html">
                    <img class="cardImage" src="{{ "/img/lightroom-healing-brush-visualization_297x176.jpg" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">LEARN ESSENTIALS</h2>
                        <h2 class="cardTitle">How to get rid of something in your photo</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="{{ "/img/mp_videoplay_32_n_lt.svg" | prepend: site.baseurl }}"><span>Watch</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>4 min</span>
                        </div>
                    </div>
                </a>
                <a class="categoryCard" href="/photoshop/how-to/lightroom-photoshop-workflow.html?set=lightroom--key-techniques--working-with-photoshop">
                    <img class="cardImage" src="{{ "/img/ps-lr-workflow_297x176.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">KEY TECHNIQUES</h2>
                        <h2 class="cardTitle">Use Photoshop with Lightroom</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="{{ "/img/mp_videoplay_32_n_lt.svg" | prepend: site.baseurl }}"><span>Watch</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>7 min</span>
                        </div>
                    </div>
                </a>
                <a class="categoryCard" href="/lightroom/how-to/lightroom-mobile.html?set=lightroom--whats-new--2014-04">
                    <img class="cardImage" src="{{ "/img/lr-mobile-hero-297x176.jpg" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">WHAT'S NEW</h2>
                        <h2 class="cardTitle">Get started with Lightroom mobile</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="{{ "/img/mp_view_32_n_lt.svg" | prepend: site.baseurl }}"><span>See how</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>17 min</span>
                        </div>
                    </div>
                </a>

                <a class="categoryCard last" href="/lightroom/topics.html">
                    <img class="cardImage" src="{{ "/img/manual-icon.png" | prepend: site.baseurl }}">
                    <div class="text parbase card-title">
                        <p>Lightroom Help</p>
                    </div>
                    <div class="card-description text parbase">
                        <p>Check out the online user manual for your product.</p>
                    </div>
                </a>
                <br clear="all">
            </div>
-->
        </div>
        
<!--
        <div class="all-tutorials-nav" style="clear:both;"><a href="">Show all Documentation</a>
        </div>
-->
        
        <div class="topicCards">
            <div class="topicCard">
                <a href="{{ "article.html" | prepend: site.baseurl }}">
                    <img src="{{ "/img/topic-card.png" | prepend: site.baseurl }}"/>
                </a>
            </div>
            <div class="topicCard">
                <a href="{{ "article.html" | prepend: site.baseurl }}">
                    <img src="{{ "/img/topic-card.png" | prepend: site.baseurl }}"/>
                </a>
            </div>
            <div class="topicCard">
                <a href="{{ "article.html" | prepend: site.baseurl }}">
                    <img src="{{ "/img/topic-card.png" | prepend: site.baseurl }}"/>
                </a>
            </div>
        </div>
              
        <div class="all-tutorials-nav" style="clear:both;">
        </div>
        
        
    </section>


</article>