<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_base.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_search_results.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/learn-support.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/globalnav.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightroom.css" | prepend: site.baseurl }}">




<article class="learn-support-page">
    
<!--
<section class="learn-section">

    <div class="content-wrapper" style="min-height:0;margin-bottom:-70px;">
        <form style="" class="serp-search" action="" method="get">
            <input style="" class="serp-search-input" name="q" placeholder="How can we help?" autocomplete="off" type="text">
            <input style="" class="serp-search-btn" value="" type="submit">
            <input style="" id="serp-search-product" name="product" value="" type="hidden">
        </form>
    </div>
</section>
-->
    

    <section class="learn-section">
        <div class="learn">
            <img src="{{ "/img/learn-icon.png" | prepend: site.baseurl }}" style="height:90px;">
            <h1 class="features-title">Marketing Cloud Help and Documentation</h1>
            <div class="text parbase learn-description">
                <p>Get started or go deeper with our documentation and our library of tutorials, projects and articles.</p><br/>
            </div>
            
        <form style="" class="serp-search" action="" method="get">
            <input style="" class="serp-search-input" name="q" placeholder="How can we help?" autocomplete="off" type="text">
            <input style="" class="serp-search-btn" value="" type="submit">
            <input style="" id="serp-search-product" name="product" value="" type="hidden">
        </form>
            
            
            <div style="margin-top: 60px;" id="LearnSupportCards">
                <a class="categoryCard solutionCard" href="{{ "section.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/amc-home-icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle light-text">Marketing Cloud</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "section.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/analytics-home-icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle light-text">Analytics</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "section.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/aem-home-icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle light-text">Experience Manager</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "section.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/target-home-icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle light-text">Target</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "section.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/campaign-home-icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle light-text">Campaign</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "section.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/social-home-icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle light-text">Social</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "section.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/amo-home-icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle light-text">Media Optimizer</h2>
                    </div>
                </a>
                <br clear="all">
            </div>
        </div>
    </section>
    
    
        <section class="support-section">
        <div class="support">
            <img src="{{ "/img/support-icon.png" | prepend: site.baseurl }}">
            <h1 class="support-title">Get Support</h1>
            <div class="text support-description parbase">
                <p>Find quick answers, engage with our vibrant community, and connect with Adobe staff.</p>
            </div>
            <div class="support-options clearfix">
                <div class="option">
                    <h2>Common Questions</h2> 
                    <a href="/lightroom/faq.html" id="common-questions-icon">
                        <img src="{{ "/img/common-questions.svg" | prepend: site.baseurl }}">
                    </a>
                    <p>Find answers to questions we hear the most</p>
                    <div class="text parbase common-questions-link">
                        <p><a href="/lightroom/faq.html" adhocenable="false">See them &gt;</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <h2>Top Issues</h2> 
                    <a href="/lightroom/top-issues.html" id="top-issues-icon">
                        <img src="{{ "/img/top-issues.svg" | prepend: site.baseurl }}">
                    </a>
                    <p>Get up-to-date solutions for issues and troubleshooting</p>
                    <div class="top-issues-link text parbase">
                        <p><a href="/lightroom/top-issues.html" adhocenable="false">See them &gt;</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <h2>Ask the Community</h2>
                    <a href="http://forums.adobe.com/community/lightroom" id="ask-the-community-icon">
                        <img src="{{ "/img/ask-community.svg" | prepend: site.baseurl }}">
                    </a>
                    <p>Post, discuss and be part of our knowledgeable community</p>
                    <div class="text parbase ask-the-community-link">
                        <p><a href="http://forums.adobe.com/community/lightroom" adhocenable="false">Join now &gt;</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <h2>Contact Us</h2>
                    <a href="/contact.html?step=LTRM" id="contact-us-icon">
                        <img src="{{ "/img/contact-us.svg" | prepend: site.baseurl }}">
                    </a>
                    <p>Get help from one of our awesome support people</p>
                    <div class="text parbase contact-us-link">
                        <p><a href="/contact.html?step=LTRM" adhocenable="false">Start now &gt;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="docs-and-feedback">
            <div class="text parbase pdf-manuals">
                <p><a adhocenable="false" href="/lightroom/system-requirements.html">System requirements</a>
                </p>
            </div>
            <div class="text parbase release-notes">
                <p><a href="/lightroom/lightroom-releasenotes.html" adhocenable="false">Release Notes</a>
                </p>
            </div>
            <div class="bug-report text parbase">
                <p><a adhocenable="false" href="https://www.adobe.com/cfusion/mmform/index.cfm?name=wishform">Report a bug</a>
                </p>
            </div>
            <div class="text parbase contact-us">
                <p><a href="https://www.adobe.com/cfusion/mmform/index.cfm?name=wishform" adhocenable="false">Request a feature</a>
                </p>
            </div>
        </div>

        <div class="raw-html rawhtml"></div>
    </section>



</article>