<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_base.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_search_results.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/learn-support.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/globalnav.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightroom.css" | prepend: site.baseurl }}">




<article class="learn-support-page">
    
        <section class="learn-section">

            <div class="content-wrapper" style="min-height:0;margin-bottom:-70px;">
    <form style="" class="serp-search" action="" method="get">
        <input style="" class="serp-search-input" name="q" placeholder="How can we help?" autocomplete="off" type="text">
        <input style="" class="serp-search-btn" value="" type="submit">
        <input style="" id="serp-search-product" name="product" value="" type="hidden">
    </form>
                </div>
</section>
    

    <section class="learn-section">
        <div class="learn">
            <img src="{{ "/img/hand-touch.png" | prepend: site.baseurl }}">
            <h1 class="features-title">Learn Marketing Cloud Solutions</h1>
            <div class="text parbase learn-description">
                <p>Get started or go deeper with our documentation and our library of tutorials, projects and articles.</p>
            </div>
            
            
            <div style="margin-top: 20px;" id="LearnSupportCards">
                <a class="categoryCard solutionCard" href="{{ "solution.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/marketing_cloud_icon.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">MARKETING CLOUD</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "solution.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/mc_analytics_icon_no_tile_rgb.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">ANALYTICS</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "solution.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/marketing_cloud_experience_manager_icon_no_tile_rgb.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">EXPERIENCE MANAGER</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "solution.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/marketing_cloud_target_mnemonic_no_tile_rgb.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">TARGET</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "solution.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/marketing_cloud_campaign_mnemonic_no_tile_rgb.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">CAMPAIGN</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "solution.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/marketing_cloud_social_mnemonic_no_tile_rgb.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">SOCIAL</h2>
                    </div>
                </a>
                <a class="categoryCard solutionCard" href="{{ "solution.html" | prepend: site.baseurl }}">
                    <img class="solutionCardImage" src="{{ "/img/marketing_cloud_optimize_mnemonic_no_tile_rgb.png" | prepend: site.baseurl }}">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">MEDIA OPTIMIZER</h2>
                    </div>
                </a>
                <br clear="all">
            </div>
        </div>
    </section>



</article>