<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/learn-support.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/globalnav.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_base.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_explore.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightroom.css" | prepend: site.baseurl }}">

<div class="content-wrapper">

    <div id="sticky-anchor"></div>
<!--
    <section class="path-navigation nav-bar-shadow-container">
        <div class="nav-bar-inner-wrapper">
            <div class="learn-path-tabs">
                <a class="learn-path-tab" data-tooltip="New to Photoshop Lightroom? Start here." data-target="get-started">Get started</a>
                <a class="learn-path-tab selected" data-tooltip="Dig in. Learn core concepts and skills." data-target="fundamentals">Learn essentials</a>
                <a class="learn-path-tab" data-tooltip="Go further. Advanced tutorials and workflows." data-target="key-techniques">Key techniques</a>
            </div>
            <div class="nav-bar-search-container">
                <form class="ccl-search" action="/tutorials-search.html" method="get">
                    <input class="ccl-search-input" name="q" placeholder="Search tutorials" autocomplete="off" type="text">
                    <input class="ccl-search-btn" value="" type="submit">
                    <input id="ccl-search-app" name="app" value="lightroom" type="hidden">
                </form>
            </div>
        </div>
    </section>
-->
    
    <section class="learn-section">
        <div class="learn">
            <img src="{{ "img/marketing_cloud_experience_manager_icon_no_tile_rgb.png " | prepend: site.baseurl }}" style="height:60px;">
            <h1 class="features-title">Learn Experience Manager</h1>
            <div class="text parbase learn-description">
                <p>Get started or go deeper with our documentation and our library of tutorials, projects and articles.</p>
                <br/>
            </div>

            <form style="" class="serp-search" action="{{ "search.html" | prepend: site.baseurl }}" method="get">
                <input style="" class="serp-search-input" name="q" placeholder="Search Experience Manager" autocomplete="off" type="text">
                <input style="" class="serp-search-btn" value="" type="submit">
                <input style="" id="serp-search-product" name="product" value="" type="hidden">
            </form>
        </div>
    </section>
    
    
    <section class="learn-paths">
        <section id="fundamentals-path" class="learn-path active-tab">
            <header class="learn-path-header">
                <!--                <h2 class="learn-path-name" title="Dig in. Learn core concepts and skills.">Learn essentials</h2>-->
                <p class="learn-path-prompt">Getting Started</p>
            </header>
            {% include section/learn-path-content.html %}
        </section>
        <section id="fundamentals-path" class="learn-path active-tab">
            <header class="learn-path-header">
                <!--                <h2 class="learn-path-name" title="Dig in. Learn core concepts and skills.">Learn essentials</h2>-->
                <p class="learn-path-prompt">Authoring</p></p>
            </header>
            {% include section/learn-path-content.html %}
        </section>
        <section id="fundamentals-path" class="learn-path active-tab">
            <header class="learn-path-header">
                <!--                <h2 class="learn-path-name" title="Dig in. Learn core concepts and skills.">Learn essentials</h2>-->
                <p class="learn-path-prompt">Developing</p></p>
            </header>
            {% include section/learn-path-content.html %}
        </section>
        <section id="fundamentals-path" class="learn-path active-tab">
            <header class="learn-path-header">
                <!--                <h2 class="learn-path-name" title="Dig in. Learn core concepts and skills.">Learn essentials</h2>-->
                <p class="learn-path-prompt">Administering</p></p>
            </header>
            {% include section/learn-path-content.html %}
        </section>
        <section id="fundamentals-path" class="learn-path active-tab">
            <header class="learn-path-header">
                <!--                <h2 class="learn-path-name" title="Dig in. Learn core concepts and skills.">Learn essentials</h2>-->
                <p class="learn-path-prompt">Managing</p></p>
            </header>
            {% include section/learn-path-content.html %}
        </section>
    </section>
    

</div>