<div class="learn-path-content">
    <section class="set-header">
        <h3 class="set-header-title">Lightroom workspace</h3>
        <ul class="tutorial-list">
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-general-workflow.html?set=lightroom--fundamentals--lightroom-workspace">General Lightroom workflow</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-work-panels-lights-out.html?set=lightroom--fundamentals--lightroom-workspace">Work with panels and Lights Out</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/creative-cloud/how-to/creative-cloud-sync-settings.html?set=lightroom--fundamentals--lightroom-workspace">Sync preferences and settings</a>
                </article>
            </li>
        </ul>
    </section>
    <section class="set-header">
        <h3 class="set-header-title">Import photos</h3>
        <ul class="tutorial-list">
            <li>
                <article class="tutorial"><a href="/lightroom/help/importing-photos-lightroom-basic-workflow.html?set=lightroom--fundamentals--import-photo">Import photos from a camera or card reader</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-import-file-formats.html?set=lightroom--fundamentals--import-photo">Import images and look at file formats</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-move-folder-files.html?set=lightroom--fundamentals--import-photo">Move folders around in Lightroom</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/help/locate-missing-photos.html?set=lightroom--fundamentals--import-photo">Locate missing photos</a>
                </article>
            </li>
        </ul>
    </section>
    <section class="set-header">
        <h3 class="set-header-title">Develop photos</h3>
        <ul class="tutorial-list">
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-develop-basics.html?set=lightroom--fundamentals--develop-photo">Develop basics</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-control-white-balance.html?set=lightroom--fundamentals--develop-photo">Control white balance</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-highlights-shadows-white-blacks.html?set=lightroom--fundamentals--develop-photo">Highlights, shadows, whites, and blacks</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-clarity-vibrance-saturation.html?set=lightroom--fundamentals--develop-photo">Work with Clarity, Vibrance, and Saturation</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-adjustment-brush-basics.html?set=lightroom--fundamentals--develop-photo">Adjustment Brush: the basics</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-bw-adjustments.html?set=lightroom--fundamentals--develop-photo">Work with B&amp;W adjustments</a>
                </article>
            </li>
        </ul>
    </section>
    <section class="set-header">
        <h3 class="set-header-title">Sharpening and noise reduction</h3>
        <ul class="tutorial-list">
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-sharpen-image.html?set=lightroom--fundamentals--sharpen-noise-reduction">Sharpen an image</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-reduce-image-noise.html?set=lightroom--fundamentals--sharpen-noise-reduction">Reduce image noise in Lightroom 5</a>
                </article>
            </li>
        </ul>
    </section>
    <section class="set-header">
        <h3 class="set-header-title">Retouching photos</h3>
        <ul class="tutorial-list">
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-healing-brush-visualization.html?set=lightroom--fundamentals--retouch-photo">How to get rid of something in your photo</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/portrait-touch-up-lightroom-5.html?set=lightroom--fundamentals--retouch-photo">Portrait touch up in Lightroom 5</a>
                </article>
            </li>
        </ul>
    </section>
    <section class="set-header">
        <h3 class="set-header-title">Cropping, lens and perspective corrections</h3>
        <ul class="tutorial-list">
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-correct-perspective-upright.html?set=lightroom--fundamentals--crop-correct">How to straighten and level objects in your photo</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-lens-correction.html?set=lightroom--fundamentals--crop-correct">Lens corrections in Lightroom 5</a>
                </article>
            </li>
        </ul>
    </section>
    <section class="set-header">
        <h3 class="set-header-title">Cropping, lens and perspective corrections</h3>
        <ul class="tutorial-list">
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-correct-perspective-upright.html?set=lightroom--fundamentals--crop-correct">How to straighten and level objects in your photo</a>
                </article>
            </li>
            <li>
                <article class="tutorial"><a href="/lightroom/how-to/lightroom-lens-correction.html?set=lightroom--fundamentals--crop-correct">Lens corrections in Lightroom 5</a>
                </article>
            </li>
        </ul>
    </section>
</div>